body{
    background-color: aliceblue;
}

h1{
    font-size: 30px;
    color: #8FBD8A;
}
h2{
    font-size: 20px;
    color: #9790b6;
}
.big{
    font-size: 60px;
}
.uppercase{
    text-transform: uppercase;
}
.big.uppercase{
    color: antiquewhite;
}
h1 span{
    color: blue;
}